@charset "UTF-8";

.download-filter {
	align-items: end;	
	grid-template: auto auto auto / auto;		

	@media(min-width: 640px) {
		grid-template: auto auto / 1fr 1fr;
	}

	@media(min-width: 1024px) {
		grid-template: auto auto / 3fr 3fr 2fr;				
	}
	
	&__button {
		justify-self: center;	
	
		@media(min-width: 640px) {
			grid-area: 2 / 2 / 3 / 3;
			justify-self: end;
			align-self: center;
		}
	}	
}