@charset "UTF-8";

@use 'conf';

.icon-link {
	display: inline-block;
	
	height: 2.25em;
	width: 2em;
		
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;	
		
	text-indent: -99999px;	
	
	&_download-pdf {
		background-image: url(conf.$link-icon-pdf);		
	}	
}